:root {
    --primary: rgb(194, 181, 181);
    --secondary: rgb(68, 78, 92);
    --dark: rgb(26, 135, 134);
   

    --mainText:black;
    --secondaryText: black;
}

html, body {
    padding: 0;
    margin: 0;
    overflow: auto;
}
h1, h2, p{
    color: var(--mainText);
    font-weight: sans-serif;
    font-family: 'DM Mono', monospace, Arial, Helvetica, sans-serif;
  
}
#navbar {
    background-color: var(--dark);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-box-shadow: 3px 8px 10px 6px rgba(0,0,0,0.59);
    -moz-box-shadow: 3px 8px 10px 6px rgba(0,0,0,0.59);
    box-shadow: 3px 8px 10px 6px rgba(0,0,0,0.59);

}
.nav-list{
    display: flex;
    margin: 1rem;
}
#navbar a{
    color: var(--mainText);
    text-decoration: none;
    font-size: 2rem;
    float: left;
    text-align: center;
    padding: 1rem;
}
#navbar:after{
    content: "";
    clear: both;
    display: table;
}
#navbar li{
    display: inline-block;
    
}
#navbar li a:hover{
    color: var(--secondary);
    background-color: white;
}
#main-container {
    width: 1200px;
    margin: 0 auto;
}
/*Section ID's*/

#welcome-section{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: var(--primary);
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;


}
.main-title{
    font-family: 'Crimson Text', Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
}
#projects{
    
}
.projects-box{
    background-color: rgb(69, 63, 63);
    width: 100%;
    height: 200vh;
    
    
}
.project-tile-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 4rem;
    width: 100%;
    margin: auto;
    margin-bottom: 6rem;
    padding: 10px;
}

.project-tile{
    background: var(--primary);
    border-radius: 2px;
    text-align: center;
    padding: 10rem 0rem;
    -webkit-box-shadow: 3px 8px 10px 6px rgba(0,0,0,0.59);
    -moz-box-shadow: 3px 8px 10px 6px rgba(0,0,0,0.59); 
    box-shadow: 3px 8px 10px 6px rgba(0,0,0,0.59);
    text-decoration: none;
    color: white;
    margin: 2rem;
    
}
.social-title{
    color: var(--secondary);
    position: absolute;
    top: 5px;
    margin: auto;
    
}
#social-links{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--primary);
   height: 70vh;
   margin: 0 auto;
   padding: 10px;
   max-width: 1280px;
   margin-bottom: 6rem;
   position: relative;
}
.social-box{
    background-color: var(--secondary);
    width: 60%;
    height: 60vh;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
}
.profile-link{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding-top: 1.5rem;
    font-size: 40px;
    margin: auto;
    overflow: hidden;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    margin: 0;
    padding: 2rem;
    background-color: var(--dark);
}
@media (max-width:1024px) {
    #main-container{
        overflow: hidden;
    }
 
